extends layout

block content
  section#posts
    h3
      i.fa.fa-file-o
      | 
      | Posts

    - var posts = _.chain(contents['posts']._.pages).sortBy(function(item) {
    -     return -item.metadata['date'];
    -   }).value();

    each post in posts
      p
        time(datetime=post.date)= moment.utc(post.date).format('DD MMM YYYY')
        | 
        i.fa.fa-arrow-right
        | 
        a(href=post.url)= post.title


  section#projects
    h3
      i.fa.fa-folder-o
      | 
      | Projects

    - var projects = _.chain(contents['projects']._.pages).sortBy(function(item) {
    -   return item.metadata['order'];
    - }).value()

    each project in projects
      p
        i(class='fa fa-#{project.metadata.icon}')
        | 
        if project.metadata.link
          a(href=project.metadata.link)= project.title
        else
          = project.title

  section#talks
    h3
      i.fa.fa-comment-o
      | 
      | Talks

    - var talks = _.chain(contents['talks']._.pages).sortBy(function(item) {
    -   return -item.metadata['date'];
    - }).value()

    each talk in talks
      - var title = talk.title != 'Untitled' ? talk.title : talk.metadata.titleHtml
      p
        time(datetime=talk.date)= moment.utc(talk.date).format('DD MMM YYYY')
        | 
        i.fa.fa-arrow-right
        | 
        if talk.metadata.titleHtml
          != title
        else
          a(href=talk.metadata.link)!= title
        | 
        | @ #{talk.metadata.location}

block footer
  i.fa.fa-code
  | 
  a(href='https://github.com/willklein/willkle.in') view source
